chat:
  cache:
    expiration: 3600000
auth:
  service:
    url: http://localhost:8088
feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
        SQL: DEBUG
    org.springframework.cache: DEBUG
spring:
  redis:
    host: localhost
    port: 6379
    password: "1234"
    ssl: false
    lettuce:
      pool:
        max-active: 8  # Максимум соединений
        max-idle: 8    # Максимум "простаивающих" соединений
        min-idle: 0    # Минимум соединений в пуле
  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=1000,expireAfterWrite=10m
  cloud:
    compatibility-verifier:
      enabled: false
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
  datasource:
    url: jdbc:mysql://localhost:3306/kryosette
    username: root
    password: HoslDiBm5:DodLoPost
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
  config:
    import: optional:configserver:http://localhost:8888
  application:
    name: chat
server:
#  ssl:
#    enabled: true
#    key-store: classpath:keystore.p12
#    key-store-password: 123456
#    key-alias: localhost
  port: 8092

eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka