spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/kryosette
    username: kryosette_user
    password: HoslDiBm5:DodLoPost
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: create  # или update для разработки
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  jackson:
    time-zone: UTC

  data:
    web:
      pageable:
        max-page-size: 100

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

  kafka:
    consumer:
      group-id: post-service-group
      auto-offset-reset: earliest
    producer:
      bootstrap-servers: localhost:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    topic:
      name: post_topics

  config:
    import: optional:configserver:http://localhost:8888

  application:
    name: posts

file:
  uploads:
    photos-output-path: ./uploads

logging:
  pattern:
    file: "%d{yyyy-MM-dd HH:mm:ss} | %-5level | %msg%n"
  logger:
    METRICS_AGGREGATOR:
      level: INFO
  file:
    name: logs/metrics.log
  level:
    com.posts: INFO

auth:
  service:
    url: http://localhost:8088

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000

eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

server:
  port: 8091